html {
	color: #333;
}

.centered {
	justify-content: center;
}

.header {
	margin-top: 40px;
}

.d-block {
	display: block;
}

.mt-1 {
	margin-top: 15px;
}

.mt-2 {
	margin-top: 25px;
}

#file-select {
	margin-bottom: 20px;
}

#output-sample-header {
	display: none;
}

